
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    /* background-image: url(/images/bg.png);
    background-repeat: no-repeat;
   background-size: 100vw ; */
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    height: 50vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#container #dino {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #dino img {
    height: 70px;
    width: 70px;
}

.dinoActive {
    animation: animateDino 0.5s linear infinite;
}

@keyframes animateDino {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

#container #block {
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 125px;
}

.blockActive {
    animation: blockAnimate 1s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}
.roadActive{
    animation : roadAnimate 1.5s linear infinite
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

.cloudActive{
    animation: cloudAnimate 20s linear infinite ;
}


@keyframes cloudAnimate {
    0% {
        left: -200px;
    }

    100% {
        left: 100%;
    }
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 10px;
}
#showscore{
    display: flex;
    justify-content: center;
}

#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
}


/* prototypr+e========================================================================== */
/* 
#game{
    height: 300px;
    width: 600px;
    border: 2px solid;
    margin: 3rem auto;
}
#block{
    height: 70px;
    width: 30px;
    position: relative;
    top: 229px;
    left: 569px;
    animation: move 3s linear infinite;
}

#dino{
    position: relative;
    top: 140px;
    left: 0;
}

#result{
     height: 200px;
     width: 400px;
     background-color: rgb(91, 148, 216);
     margin: 3rem auto;
     text-align: center;
     border-radius: 8px;
     display: none; 
}
#score{
    font-size: 2rem;
    
}

#btn{
border: none;
padding: 0.5em;
border-radius: 5px;
color: white;
background-color: black;
font-size: 15px;
cursor: pointer;


}

@keyframes move {
    0%{
        left: 560px;
    }
    
      100%{
        left: 0px;
      }
} */